<div>
    <h1>Stopwatch</h1>
    <span id="sw_h">00</span>:
    <span id="sw_m">00</span>:
    <span id="sw_s">00</span>:
    <span id="sw_ms">00</span>
    <br/>
    <br/>
    <input type="button" value="Start" id="sw_start" onclick="$.APP.startTimer('sw')" />
    <input type="button" value="Pause" id="sw_pause" onclick="$.APP.pauseTimer()" />
    <input type="button" value="Stop"  id="sw_stop" onclick="$.APP.stopTimer()" />
    <input type="button" value="Reset" id="sw_reset" onclick="$.APP.resetTimer()" />
    <br/>
    <br/>
    <span id="sw_status">Idle</span>
</div>