/*div[ng-view] {
  height: 100%;
  width: 100%;
}*/

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.backward.ng-enter {
  left:-100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:100%;
}
.view-animate.backward.ng-leave.ng-leave-active {
  left:-100%;
}

/*canvas{
  background: #000;
	margin: 50px auto;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -200px;*/
/*	pointer-events:none;*/
/*}*/



/*-------------------------
    Main
--------------------------*/
html,
body {
  background: black;

  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
}

#clock {
  width: 20em;
  height: 300px;
  margin: auto;
  position: absolute;
  display: block;
}

/*-------------------------
    Alarm
--------------------------*/

#jsalarmclock {

color: #33ADAD;
font-family: Tahoma;
font-weight: bold;
font-size: 15px;
margin-left: 1em;
margin-top: 5em;
position: absolute;

}

#jsalarmclock div{
margin-bottom: 5em;
}

#jsalarmclock div.leftcolumn{
position: absolute;
width: 10em;
font-size: 15px;
margin-top: -2em;
margin-left: 5em;
}

#jsalarmclock span{
margin-right: 5px;
width: 100px;
margin-top: 100px; 
}


#alarmReset {
  position: absolute;
  width:50px;
  margin-left: 105px;
  margin-top: 50px;
}

#submitButton {
  position: absolute;
  width:50px;
  margin-left: 50px;
  margin-top: 50px;
}
.nice {
  border-top: 5px solid #E54B6B;
  background-image: linear-gradient(#f0f0f0, white);
  font-size: 26px;
}

/*-------------------------
    StopWatch
--------------------------*/
#time {
  color:#3399cc;
  font-family:Arial;
  font-size:40px;
  position:absolute;
/*  left:50%;*/
  top:2.5em;
/*  margin-left:-100px;*/
  width:8em;
  height:50%;
  text-align:center;
  line-height:50px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
}
#stopwatch {
  position:absolute;
  left:10em;
  margin-left:-100px;
  border:2px solid #3399cc;
  -webkit-border-radius:200px;
}
#resetButton {
  position: absolute;
  margin-left: 8em;
  margin-top: 230px;
}

/*-------------------------
    Timer
--------------------------*/
h1, p {
  font-weight: 300;
  margin: 0;
}

p {
  color: #33ADAD;
}

strong {
  font-weight: 700;
}

#circle {
  align-items: center;
  background: #BDC3C7;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 30em;
  justify-content: center;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20em;
  z-index: 1;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
#circle:hover {
  background: #c6a0d5;
  cursor: pointer;
}
#circle.active {
  background: #8E44AD;
}
#circle.complete {
  background: #1ABC9C;
}
#circle.complete #label {
  display: none;
}
#circle #count {
  font-weight: 700;
  margin-right: 2px;
}

button {
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5em 1em;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
button:hover {
  cursor: pointer;
}

#reset {
  background: #E74C3C;
  bottom: 30%;

  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 100px;
  z-index: 1;
}
#reset:hover {
  background: #d62c1a;
}
#reset:active {
  bottom: 30%;
}

/*-------------------------
    Tabs
--------------------------*/

.tab-bordered {

position: absolute;
margin-top: 20px;
margin-left: 15px;

}

.tab-bordered img {

  position: relative;
  width: 30px;
  height: 30px;

}

.tab-bordered {

  padding: 10px;

}

/*-------------------------
    Misc.
--------------------------*/
.links {
  display: inline;
  padding-left: 20px;
  padding-right: 17px;
}

#footer {
  width: 100%;
  height:100px;
  position: absolute;
  bottom: 0;
  left: 0;
}